body {
    border: 8px solid black;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 400px;
    text-align: center;
}



#calculator-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(21, 21, 21);
    height: 570px;
    width: 400px;
} 

#calculator-numberpad {
    display: flex;
    margin-top: auto;
}


#calculator-screen {
    background-color: rgb(158, 152, 141);
    border: 2px solid black;
    height: 80px;
    font-size: 70px;
    text-align: right;
    margin-top: auto;
}

.input-button {
    background-color: rgb(21, 21, 21);
    border-radius: 5px;
    color: white;   
    font-size: 30px;
    height: 60px;
    width: 95px;
}

.input-button.plus {
    height: 120px;
}

#clear-button {
    background-color: rgb(221, 114, 29);
}

#error-message {
    color: red;
    position: absolute;
    left: 0;
    right: 0;
}