body {
    border: 8px solid black;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 500px;
    padding: 25px;
    text-align: center;
}

div {
    margin-bottom: 20px;
}

#calculator-screen {
    border: 2px solid black;
    height: 40px;
}

button {
    border-radius: 5px;
    font-size: 30px;
    height: 70px;
    width: 70px;
}